DATABASE_URL=
ADMIN_EMAILS=marco@bossleveltech.com,soundfactoryrgv@hotmail.com
ADMIN_PASSWORD=
RESEND_API_KEY=
EMAIL_FROM=Sound Factory Productions <noreply@soundfactoryrgv.com>
LEAD_NOTIFICATION_TO=soundfactoryrgv@hotmail.com
